*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  
  body{
    padding: 10px;
    border: 10px solid #96cfec;
  }
  
  .TextCOn{
    display: flex;
    justify-content: right;
    gap: 10px;
  }
  .TextCOn1{
    color: #00aaff;
  }
  
  .Container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  .HeaderCont{
    background: #f0f0f0;
    padding: 20px;
    border-bottom: 2px solid #00aaff;
  }
  
  .Container h1{
    color: #00aaff;
    font-size: 24px;
    margin-right: 900px;
  }
  
  .Container h2{
    color: #00aaff;
    font-size: 24px;
    margin-right: 900px;
  }
  .img1{
    width: 100%;
  }
  .Cam{
    width: 1265px;
  }
  
  .grid-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .grid-item img{
    width: 400px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }
  
  .grid-item p {
    margin-top: 10px;
    color: #333
  }
  
  .SeccionProduct{
    background-color: #7fb3d5;
    padding: 40px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    text-align: center;
  }
  
  .SeccionProduct h2{
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    
  }
  
  .grid-Productos{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .productos-item img{
    width: 400%;  
    max-width: 300px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }
  
  .productos-item p{
    margin-top: 10px;
    color: #333;
    font-size: 16px;
  }
  
  
  .Footer{
    background: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: column;
    font-size: 18px;
  }
  
  .Txt{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .Txt h6{
    color: #333;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .Cont{
    text-align: center;
    margin-bottom: 20px;
  }
  .Titulo{
    text-align: center;
  }
  